<div>
  <% if @error %>
    <%= @error %>
  <% end %>
  <h1>Log in to Sam Overflow!</h1>
  <form>
    <div>
      <input type="text" name ="user[email]" placeholder="Email">
    </div>
    <div>
      <input type="password" name="user[password]" placeholder="Password">
    </div>
    <div>
      <input type="submit" value"Log in" formaction="/authorization" formmethod="post">
    </div>
  </form>
</div>
