
  <a href="/posts/new" type="button" class="btn btn-danger">Submit a new question</a>



<div class='post-container'>
  <% @posts.each do |post| %>

 
    <article id="<%= post.id %>">
      <form method="post" action='#' class="inline">
       

        <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-asc vote-button upvote-button"></button>
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>


      </form>
      <h2><a href='#'><%= post.title %></a></h2>
      <p>
        <span class='points'></span>
        <span class='username'></span>
        <span class='timestamp'></span>
        <span class='comment-count'></span>
        <a class="delete" href='#'></a>
      </p>
    </article>

  <% end %>
</div>

