<h3>Ask a new Question1</h3>

<!-- <form role="form" action="/posts" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" param name="title">
  </div>
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="content" param name="content"></textarea>
  <br>
  
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->

<!-- <form action="/posts" method="post">
  <input type="text" name="jason" value="jason">
  <button type="submit" class="btn btn-default">Submit</button>
</form> -->


<form action="/posts" method="post">
  <fieldset>
    <legend >Create A Tweet:</legend>
    <div>
      <label for="posts[content]">Tweet:</label>
      <textarea  name="posts[content]" rows="4" cols="50"  placeholder="What's happening?"></textarea>
    </div>
    <input type="submit" value="Create Tweet">
    </fieldset>
  </form>